body {
    background:url(historyBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gohar {
    display: inline-block;
}
.text{
    background-color: transparent;
    display: inline-block;
    height: 60%;
    width: 60%;
    color: white;
    font-size: 20px;
}

.container {
    margin-top: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
}
