/* .container {
    margin: 0 auto;
    width: 80%;
    background-color: aquamarine;
} */
.logo {
   margin-left: 60%;
   display: inline-block;
   overflow: hidden;
  

}*/
.candy{
    height: 250px;
    width: 250px;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    margin-left: 20%;
}
.flowers {
    height: 250px;
    width: 250px;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    margin-left: ;
   

} 
.history{
    height: 250px;
    width: 250px;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
   margin-left: 200px;
    margin-top: 10%;
}
.join{
    height: 200px;
    width: 300px;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
    padding-top: 20px;
    margin-top: 2px; 
    
}
 body{
    background-image: url('background.jpeg');
 }
