
.candy{
    height: 270px;
    width: 270px;
    border: 1px solid white;
    border-width: 4px;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    margin-left: 10%;
}
.flowers {
    height: 270px;
    width: 270px;
    border: 1px solid white;
    border-width: 4px;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    margin-left: 10%;
}
.history{
    height: 270px;
    width: 270px;
    border: 1px solid white;
    border-width: 4px;
    text-align: center;
    display: inline-block;
   margin-left: 10%;
    margin-top: 20px;
}
.join{
    height: 270px;
    width: 270px;
    border: 1px solid white;
    border-width: 4px;
    text-align: center;
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
}
 .candy:hover {
     transform: scale(1.2);
     transition: 0.4s;
 }
 .flowers:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
 .history:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
 .join:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

.instagram{
    display: inline-block;
    height: 500px;
    width: 250px;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    margin-left: 20%;
}
.facebook{
    height: 500px;
    width: 250px;
    border: 2px solid white;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    margin-left: 20%;
    display: inline-block;
}
.facebook:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
.instagram:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
.home{
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-image: url('./background.jpeg');
}
.background-color{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.514);
}
.logo{
    position: absolute;
    right: 1%;
    top:20px;
}
.pages{
    margin-top: 8%;
}