header {
  display: flex;
  justify-content: center;
}
header h1 {
  font-size: xxx-large;
  color: whitesmoke;
}

.candy {
  height: 270px;
  width: 270px;
  border: 1px solid white;
  border-width: 4px;
  text-align: center;
  display: inline-block;
  margin-top: 2px;
  margin-left: 10%;
  transition: 0.4s;
}
.flowers {
  height: 270px;
  width: 270px;
  border: 1px solid white;
  border-width: 4px;
  text-align: center;
  display: inline-block;
  margin-top: 2px;
  margin-left: 10%;
  transition: 0.4s;
}
.history {
  height: 270px;
  width: 270px;
  border: 1px solid white;
  border-width: 4px;
  text-align: center;
  display: inline-block;
  margin-left: 10%;
  margin-top: 20px;
  transition: 0.4s;
}
.join {
  height: 270px;
  width: 270px;
  border: 1px solid white;
  border-width: 4px;
  text-align: center;
  display: inline-block;
  margin-left: 10%;
  margin-top: 20px;
  transition: 0.4s;
}
.candy:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.flowers:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.history:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.join:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.instagram {
  display: inline-block;
  height: 500px;
  width: 250px;
  border: 2px solid white;
  text-align: center;
  display: inline-block;
  margin-top: 2px;
  margin-left: 20%;
}
s .facebook {
  height: 500px;
  width: 250px;
  border: 2px solid white;
  text-align: center;
  display: inline-block;
  margin-top: 2px;
  margin-left: 20%;
  display: inline-block;
}
.facebook:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.instagram:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.home {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('./background.jpeg') ;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.logo {
  display: flex;
  justify-content: center;
  top: -5px;
  color: white;
  font-size: 50%;
  margin-right: 50%;

}
.pages {
  margin-top: 0;
}
body{
  font-family: 'Staatliches', cursive;
}

.logo h1{
  display: inline-block;
}
.logo input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 15%;
  margin-right: 16px;
  font-size: 17px;
  width: 20%;
  height: 20%;
  height: 10%;
  margin-top: 5%;
}
footer {
  width: 100%;
  height: auto;
  background: transparent;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
}
footer nav a {
  color: whitesmoke;
  font-size: x-large;
  text-decoration: none;
}
footer nav {
  margin-top: 3%;
}
footer nav a:hover {
  border-bottom: 1px solid tomato;
  color: tomato;
}
footer .social {
  margin-top: 3%;
}
footer p {
  font-size: small;
  font-style: italic;
  width: 40%;
  color: whitesmoke;
  margin-left: 30%;
  margin-top: 3%;
}
